@charset "UTF-8";

#tabs {
	background: transparent;
	border: none;
}

#tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#tabs .ui-tabs-nav .ui-state-default {
	background: transparent;
	border: none;
}

#tabs .ui-tabs-nav .ui-state-default:hover{
	background: transparent;
	border: none;
	background-color: #800305;
	
}

#tabs .ui-tabs-nav .ui-state-active {
	background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
	background-color: #800305;
	border: none;
}

#tabs .ui-tabs-nav .ui-state-default a {
	color: #c0c0c0;
}

#tabs .ui-tabs-nav .ui-state-active a {
	color: #fbfbfb;
}

.bookInfoNum {
	height: 50px;
}

.thumbnail {
	align-content: center;
}

.whitebg {
	background-color: whitesmoke;
	min-height: 100%;
}

.main{
	margin-top: 80px;
}

div[class="mySlides fade"] img{
		height:50%;
		width: 100%;'
	}

@media screen and (min-width: 639px) {
	.main {
		margin-top: 80px;
		background-image: url("../images/bookcase.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 90%;
	}
	.whitebg, .custom-footer {
		background-color: whitesmoke;
		margin: 0 auto;
		width: 1200px;
	}
	div[class="mySlides fade"] img{
		height:500px;
	}
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: PT Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.custom-footer {
	bottom: 0;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: whitesmoke;
}

.social-media-links {
	text-align: center;
	margin: 0 auto;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 6px;
	padding-right: 6px;
}

.social-media-links a:visited, .social-media-links a:hover {
	color: white;
}

.fa:hover {
	opacity: 0.7;
}

.fa-youtube {
	background: rgb(187, 0, 0);
	color: white;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

/* SLIDESHOW STYLING */
* {
	box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@
-webkit-keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@
keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
.aboutProfile:hover {
	background: #e1e1e1;
}

.aboutProfile img {
	height: 100px;
	width: 100px;
	border-radius: 40px;
}

#paymentDetails{
	padding-left: 15px;
	border-top-style: solid;
	border-color: #c2c3c4;
	
}
#sAddressDetails{
	padding-left: 15px;
	padding-right: 15px;
}

#addressDetails{
	padding-left: 15px;
	padding-right: 15px;
}

.book-table tr, .book-table td, .book-table tbody {
	background-color: transparent;
}

.book-table tbody{
	border: 0;
	background-color: 0;
}

.book-table-header td {
	padding: 0;
}

.book-table-header {
	border-bottom: 1px solid #464646;
}

.number-column {
	float: right;
}