.title-bar-title {
	margin: auto;
}

.title-bar .menu-icon {
	float: right;
	margin: 8px;
}

.menu-text {
	padding: 0px 0px 0px 0px;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	border-color: #fefefe transparent transparent;
}

.is-drilldown-submenu-parent>a:after {
	border-color: transparent transparent transparent #fefefe;
}

.is-drilldown {
	width: 100%;
	max-width: 100%;
	Ï
}

.js-drilldown-back>a:before {
	border-color: transparent #fefefe transparent transparent;
}

div[class="callout primary"] {
	background-color: transparent;
}

.menu>li button a {
	display: block;
	padding: .7rem 1rem;
	line-height: 1;
}

#custom-navbar li {
	z-index: 100;
}

@media screen and (max-width: 639px) {
	.top-bar-left {
		display: none;
	}
	.orbit {
		height: auto;
		margin-bottom: 5px;
	}
	#myDropdown {
		bottom: 0;
		position: sticky;
	}
}

.no-js [data-responsive-menu] ul {
	display: none;
}

.sticky {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

<!--
TESTING SEARCH DROPDOWN -->.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #46474f;
}

#myInput {
	border-box: box-sizing;
	background-image: url('searchicon.png');
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
}

#search-input, #search-input-2 {
	margin: 0;
	margin-top: 10px;
	box-shadow: none;
	border: 0;
	font-size: 22px;
	background-color: transparent;
	color: whitesmoke;
}

#img-dropdown-search, #img-dropdown-search-loggedin {
	margin-top: 10px;
}

@media screen and (min-width: 639px) {
	.search-wrapper {
		background-color: transparent;
		margin: 20px auto;
		width: 750px;
		height: 50px;
	}
}

#search-box-wrapper, #search-box-wrapper-loggedin {
	border-top: none;
	border-bottom: 1px solid #ffb100;
	border-left: 0;
	border-right: 0;
}

#search-icon-wrapper, #search-icon-wrapper-loggedin {
	border: 0;
}

#myDropdown {
	width: 100%;
	height: 90px;
	background-color: rgba(128, 0, 0, 0.98);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #b6b6b6;
	min-width: 230px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #46474f;
}

.show {
	display: block;
}

.top-bar, .title-bar {
	background-color: #46474f;
	height: 80px;
}

.top-bar a, .title-bar a, .title-bar, .menu-text {
	color: white;
	font-size: 20px;
	font-weight: 700;
	font-variant: small-caps;
	font-family: PT Sans, Helvetica Neue, Helvetica, Arial,
		sans-serif !important;
}

.top-bar li, .top-bar, .title-bar {
	background-color: #46474f;
}

.top-bar a:hover, .top-bar a:active {
	text-decoration: underline;
}

.dropdown ul a, .top-bar ul {
	background-color: #46474f;
}

.dropdown ul a:hover {
	background-color: rgba(255, 100, 100, 0.5);
}

#img-dropdown-search {
	float: left;
}

.title-bar .menu-icon{
	margin: 24px;
}

.title-bar-title{
	margin-top: 9px;
}